<!DOCTYPE html>
<html lang="PT-BR">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>favs maneger</title>
</head>

<body>

    <div id="app">

        <div id="container">

            <div v-if="screen == 0" class="buySkinsContainer slide-in-blurred-top">
            
                <div class="selectWeaponTypeContainer">

                    <div @click="insertModal(1,true)" class="selectWeaponType">
                        <p>+</p>
                    </div>

                </div>

                <div class="buySkins">

                    <header>
                        <h1>favs maneger</h1>
                    </header>

                    <div class="selectSkinsContainer">

                        <div class="selectSkinsContainerBorder"></div>

                        <div v-if="selectedFilter != '' ? v.type == selectedFilter : true" v-for="(v,index) in forSale" class="selectSkins">

                            <div class="selectSkinsBorder"></div>

                            <div class="selectSkinsInfos">
                                <h2>
                                    <img @click="v.favorite = !v.favorite, setFavorite(v, index, 'add', forSale)" v-if="!v.favorite" src="assets/star.svg">
                                    <img @click="v.favorite = !v.favorite, setFavorite(v, index, 'remove', forSale)" v-else-if="v.favorite"  src="assets/starCheck.svg">
                                    {{ v.name }}
                                </h2>
                                <h4 :class="{commonRarity: v.rarity == 'common',
                                             rareRarity: v.rarity == 'rare',
                                             legendaryRarity: v.rarity == 'legendary',}">


                                    {{ v.rarity == 'common' ? 'comum' : (
                                    v.rarity == 'rare' ? 'raro' : (
                                    v.rarity == 'legendary' ? 'lendário' : ''
                                    )
                                    ) }}
                                </h4>
                            </div>

                            <div class="selectSkinPhoto">
                                <img :src="'assets/'+v.photo+'.png'" alt="">
                            </div>

                        </div>

                    </div>

                </div>

            </div>

        </div>

        <div v-if="modal" class="slide-in-blurred-top" id="modalContainer">

            <div v-if="modalActive == 1" class="modalInfosContainer">

                <div class="modal">

                    <label for="item">
                        <h1>insira o nome do item</h1>
                        <input v-model="temp.name" spellcheck="false" autocomplete="off" id="item" type="text">
                    </label>

                    <label for="rarity">
                        <h1>insira a raridade</h1>
                        <input v-model="temp.rarity" autocomplete="off" spellcheck="false" id="rarity" type="text">
                    </label>

                    <div class="buttonContainer">

                        <button  @click="insertItem()" class="button">
                              <p>confirmar</p>  
                        </button>

                        <div>
                        </div>
                        
                        <button @click="insertModal(0,false)" class="button">
                        <p>cancelar</p>  
                        </button>

                    </div>

                </div>

                <div class="modalInfos">

                    <h1>raridades</h1>

                    <h2>common</h2>
                    <h2>rare</h2>
                    <h2>legendary</h2>

                </div>

            </div>

            <div v-if="modalActive == 2" class="modalErrorContainer">
                <h1>verifique se as informações estão corretas</h1>
                
                <div class="buttonContainer">

                    <button  @click="insertModal(1,true)" class="button">
                          <p>voltar</p>  
                    </button>

                    <div>
                    </div>
                    
                    <button @click="insertModal(0,false)" class="button">
                    <p>cancelar</p>  
                    </button>

                </div>
            </div>

        </div>

    

    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
    <script src="index.js"></script>

</body>

</html>